/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


body{
    margin: 0;
    background-color:#540B51;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding:20px 50px 0px 50px;
}

#section-trustedCompanies {
  padding:20px 50px;
}

#section-teamsLarge {
  padding:20px 50px;
  background-color:white;
}

#section-welcome{
  padding:20px 50px;
  background-color:#540B51;
}

footer{
  padding:20px 50px;
  background-color:#fff;
}

#section-bringYourTeamTogether, #section-moveFaster, #section-chooseHow{
  padding: 20px 0px;
  }
  
  #section-bringYourTeamTogether-text, #section-moveFaster-text,#section-chooseHow-text{
    margin: 0px 100px;
  }


#slackLogo{
    width:100px;
}

#ImgCtn-hero-product-ui {
  background-image: url("../images/hero-product-ui.png");
  background-size:90%;
  background-repeat: no-repeat;
  height:300px;
  width:100vw;

}

#ImgCtn-connectedness {
  background-image: url("../images/connectedness-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  height:500px;
  width:100vw;

}

#ImgCtn-flexibility {
  background-image: url("../images/flexibility-mobile.png");
  background-size:contain;
  background-repeat: no-repeat;
  height:500px;
  width:100vw;
  background-position:right;

}

#ImgCtn-speed {
  background-image: url("../images/speed-mobile.png");
  background-size:contain;
  background-repeat: no-repeat;
  height:500px;
  width:100vw;

}

.ImgCtn {
  
}

nav {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border-bottom: 1px solid white;
  padding:20px 50px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:none;
}

nav ul li a {
  color:white;  
}

nav button {
  background-color:#540B51;
  border: 0px;
 }

 header{
  display:flex;
  flex-direction:column;
  color:white;
  text-align:center;
}

header h1 {
  font-size:3.5em;
}

.yellow {
  color: #ECB12F;
  font-weight:bold;
}

main {
  background-color:#F3EAE2;
  color:black;
}

main h2 {
  font-size:2em;
  }
  

#companyLogos {
  text-align: center;
}

#section-trustedCompanies img {
  height:50px;
  margin:20px;
}

#section-trustedCompanies p {
  text-transform:uppercase;
  text-align:center;
  font-size:1.5em;
  font-weight:bold;
}


main a.blueArrow {
  color:#2E71A6;
  font-size:1.25em;
  text-decoration: none;
}

main a.blueArrow:after {
  content:url("../images/icon-arrow-right.png");
margin: 0 10px 0 0;
}


#section-teamsLarge h3 {
  font-size:2em;
  text-align:center;
}

#section-teamsLarge ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:80%;
  margin: 50px auto;
  display:flex;
}

#section-teamsLarge ul li p:first-child{
  color:#540B51;
  font-size:4em;
  font-weight:bold;
  margin: 0 auto;
}

#section-teamsLarge ul li p{
  font-weight:bold;
}




#section-welcome h3 {
  color:#fff;
  font-size:2.5em;
  text-align:center;
}




footer img:first-child{
  width:50px;
}

footer ul {
  list-style-type: none;
  margin: 10p0;
  padding: 0;
  
}

footer ul li:first-child {
  font-weight:bold;
}

footer div {
  display:flex;
  justify-content:space-between;
}

footer div ul li {
  margin: 20px 0px;
}

footer #footer-status {
display:flex;
flex-direction: column;
justify-content: space-between;
}

footer #footer-status li {
margin:15px 10px;
font-weight:bold;
}

footer #footer-status li:last-child{
  color:#2E71A6;
}

footer #footer-status li:last-child:before{
  content:url("../images/icon-download.png");
  margin: 0 10px 0 0;
}

footer #social {
  display:flex;
  justify-content: space-between;
  padding: 15px 0;
}

footer #social li {
  margin: 15px;
}

.whiteBtn-wide{
  height:80px;
  width:90%;
  background-color:#fff;
  color:#540B51;
  border: 1px solid #540B51;
  text-transform: uppercase;
  font-size:1.1em;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 5px;
}

.purpleBtn-wide{
  height:80px;
  width:90%;
  background-color:#540B51;
  color:#fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size:1.1em;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 5px;
}


#signUpGoogleBtn {
  height:80px;
  width:90%;
  background-color:#4285F4;
  color:#fff;
  text-transform: uppercase;
  font-size:1.1em;
  font-weight: bold;
  margin: 10px 0px;
  display:flex;
  align-items:center;
  gap:25%;
  border-radius: 5px;
}

#signUpGoogleBtn img {
  width: 30px;
  background:white;
  padding:10px;
}
